.list-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
}

.text-container {
  display: none;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.card-division {
  width: 100%;
}

@media screen and (min-width: 52em) {
  .text-container {
    padding: 5px;
    display: block;
  }
}