.sidebar-menu {
    background-color: black;
    color: white;
    width: 55%;
    padding: 5px;
    overflow-y: scroll;
    height: 1000px;
  }
  @media screen and (min-width: 64em) {
    .sidebar-menu {
      width: 25%;
    }
  }

  .title {
    text-align: center
  }

  .button-apply-all {
    color: white;
    background-color: #DAA520;
    width: 100%;
  }
  